<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ControllerUsuario</servlet-name>
  	<display-name>ControllerUsuario</display-name>
  	<description></description>
  	<servlet-class>com.unab.controladores.ControllerUsuario</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConexionBD</servlet-name>
  	<display-name>ConexionBD</display-name>
  	<description></description>
  	<servlet-class>com.unab.conexion.ConexionBD</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerBD</servlet-name>
  	<display-name>ControllerBD</display-name>
  	<description></description>
  	<servlet-class>com.unab.controladores.ControllerBD</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerMostrarInformacion</servlet-name>
  	<display-name>ControllerMostrarInformacion</display-name>
  	<description></description>
  	<servlet-class>com.unab.controladores.ControllerMostrarInformacion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerAcceso</servlet-name>
  	<display-name>ControllerAcceso</display-name>
  	<description></description>
  	<servlet-class>com.unab.controladores.ControllerAcceso</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerConsulta</servlet-name>
  	<display-name>ControllerConsulta</display-name>
  	<description></description>
  	<servlet-class>com.unab.controladores.ControllerConsulta</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerUsuario</servlet-name>
  	<url-pattern>/ControllerUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConexionBD</servlet-name>
  	<url-pattern>/ConexionBD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerBD</servlet-name>
  	<url-pattern>/ControllerBD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerMostrarInformacion</servlet-name>
  	<url-pattern>/ControllerMostrarInformacion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerAcceso</servlet-name>
  	<url-pattern>/ControllerAcceso</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerConsulta</servlet-name>
  	<url-pattern>/ControllerConsulta</url-pattern>
  </servlet-mapping>
</web-app>
